.continer-todolist {
  height: -moz-fit-content;
  height: fit-content;
  margin: 25px 10px 1px 15px;
  padding: 0px;
  min-width: 350px;
}

.header-list {
  color: rgb(97, 102, 121);
  font-size: 200 !important;
  font-size: 16px;
  display: flex;
  align-items: center;
  /* gap: 5px; */
  padding-right: 10px;
  justify-content: space-between;
}

.header-list div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fa-trash {
  cursor: pointer;
}

.fa-trash:hover {
  color: rgb(100, 95, 198);
}

.circle {
  /* background-color: red; */
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.body-section-todolist {
  grid-column: 3/-1;
  display: flex;
  overflow: scroll;
  height: 84vh;
  padding: 0px 30px;

}

.content-list {
  display: flex;
  flex-direction: column;
}

.body-section-todolist::-webkit-scrollbar {
  width: 0;
  /* Set the width of the scrollbar */
}

.body-section-todolist::-webkit-scrollbar-thumb {
  background-color: #c1bbbb;
  width: 20px !important;
  border-radius: 20px;
  /* Set the scrollbar thumb color */
}


.body-section-todolist::-webkit-scrollbar {
  height: 10px;
}