.task-title-edit {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.task-title-edit input {
  padding: 8px;
  width: 100%;
  border: none;
  font-size: 17px;
}

.editFromDialog,
.done-edit {
  color: white;
  font-size: 20px;
}

.DialogTitle {
  width: 100%;
  margin: 4px 0;
}